<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Empresa de Turismo Motorista</title>
    <style>
        body {
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        width: 80%;
    }

    .nave {
        margin-bottom: 15px;
        background-color: rgb(209, 216, 250);
    }
    .nave2 {
        background-color: rgb(209, 216, 250);
    }
    li {
        display: inline-flex;
        padding: 10px;
        margin-right: 120px;
        margin-left: -12px;
    }
    a {
        text-decoration: none;
        color: rgb(11, 10, 19);
        font-size: 18px;
        font-weight: 500;
    }

    .cadastro {
        margin: 0 auto;
        width: 100%;
    }

    .campos {
        float: left;
        width: 30%;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .campos2 {
        width: 46%;
        float: left;
        margin-bottom: 20px;
        margin-left: 28px;
    }

    .table {
        margin-top: 25px;
    }

    .titulo {
        display: inline-flex;
    }

    .form-label {
        font-weight: 500;
    }

    .form-control {
        height: 30px;
        float: right;
    }

    button {
        margin-top: 10px;
        float: right;
        right: 20px;
    }

    td {
        max-width: 130px;
    }
    </style>
</head>
<body>
    <div class="container">
        <nav class="nave">
            <ul>
                <li><h3>Cadastro de Motoristas</h3></li>
                <li><a href="/viagem/{{dataValues.id}}">Viagens</a></li>
                <li><a href="/carro/{{dataValues.id}}">Carros</a><br></li>  
            </ul>
        </nav>
        <section class="cadastro">
            <form class="row g-3 " action="/motorista-edit" method="POST">
                <div class="campos">
                    <div class="col-md-11">
                        <input type="hidden" class="form-control" name="id" id="id"  value="{{motorista.id}}">
                    </div>
                    <div class="col-md-11">
                        <label for="cnh" class="form-label">Cnh</label>
                        <input type="text" class="form-control" name="cnh" id="cnh" placeholder="Digite o numero da Cnh" value="{{motorista.cnh}}">  
                    </div>
                    <div class="col-md-11">
                        <label for="sexo" class="form-label">Sexo</label>
                        <input type="text" class="form-control" name="sexo" id="sexo" value="{{motorista.sexo}}">
                    </div> 
                    <div class="col-md-11">
                        <label for="numero" class="form-label">Numero</label>
                        <input type="text" class="form-control" name="numero" id="numero" value="{{motorista.numero}}">
                    </div>
                     <div class="col-md-11">
                        <label for="uf" class="form-label">UF</label>
                        <input type="text" class="form-control" name="uf" id="uf" value="{{motorista.uf}}">
                    </div>
                </div>
                <div class="campos">
                    <div class="col-md-11">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" value="{{motorista.nome}}">
                    </div>
                    <div class="col-md-11">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" name="telefone" id="telefone" value="{{motorista.telefone}}">
                    </div>  
                    <div class="col-md-11">
                        <label for="bairro" class="form-label">Bairro</label>
                        <input type="text" class="form-control" name="bairro" id="bairro" value="{{motorista.bairro}}">
                    </div>                      
                </div>
                <div class="campos">
                    <div class="col-md-11">
                        <label for="nascimento" class="form-label">Nascimento</label>
                        <input type="text" class="form-control" name="nascimento" id="nascimento" value="{{motorista.nascimento}}">
                    </div>
                     <div class="col-md-11">
                        <label for="rua" class="form-label">Rua</label>
                        <input type="text" class="form-control" name="rua" id="rua" value="{{motorista.rua}}">  
                    </div>
                    <div class="col-md-11">
                        <label for="cidade" class="form-label">Cidade</label>
                        <input type="text" class="form-control" name="cidade" id="cidade" value="{{motorista.cidade}}">
                    </div>
                    <div class="col-md-11">
                        <button class="btn btn-primary" type="submit">Atualizar</button>
                    </div>
                </div> 
            </form>   
        </section>
        <section class="resultado">
            <table class="table">
                <thead class="nave2">
                  <tr>
                    <th scope="col">Cnh</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Nascimento</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each motoristas}}
                        <tr>
                            <td>{{motorista.cnh}}</td>
                            <td>{{motorista.nome}}</td>
                            <td>{{#formatDate dataValues.nascimento}}{{/formatDate}}</td>
                            <td>{{dataValues.sexo}}</td>
                            <td>{{dataValues.telefone}}</td>
                            <td>{{dataValues.rua}}</td>
                            <td>{{dataValues.numero}}</td>
                            <td>{{dataValues.bairro}}</td>
                            <td>{{dataValues.cidade}}</td>
                            <td>{{dataValues.uf}}</td>
                            <td><a href="/del-motorista/{{dataValues.id}}"><button class="btnDeletar">Deletar</button></a></td>
                            <td><a href="/motorista/{{dataValues.id}}"><button class="btnEditar">Editar</button></a></td>
                        
                        
                        
                        </tr>
                    {{/each}}  
                </tbody>
            </table>
            <br><br>
        </section>
    </div>
</body>
</html>

  