<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            margin: 0 auto;
            width: 80%;
        }

        .nave {
            margin-bottom: 15px;
            background-color: rgb(209, 216, 250);
        }
        .nave2 {
            background-color: rgb(209, 216, 250);
        }
        li {
            display: inline-flex;
            padding: 10px;
            margin-right: 120px;
            margin-left: -12px;
        }
        a {
            text-decoration: none;
            color: rgb(11, 10, 19);
            font-size: 18px;
            font-weight: 500;
        }

        .cadastro {
            margin: 0 auto;
            width: 100%;
        }

        .campos {
            float: left;
            width: 30%;
            margin-bottom: 20px;
            margin-left: 30px;
        }
        .campos2 {
            width: 46%;
            float: left;
            margin-bottom: 20px;
            margin-left: 28px;
        }

        .table {
            margin-top: 25px;
        }

        .titulo {
            display: inline-flex;
        }

        .form-label {
            font-weight: 500;
        }

        .form-control {
            height: 30px;
            float: right;
        }

        button {
            margin-top: 10px;
            float: right;
            right: 20px;
        }

    </style>
    <title>Empresa de Turismo Viagem</title>
</head>
<body>
    <div class="container">
        <nav class="nave">
            <ul>
                <li><h3>Cadastro de Viagens</h3></li>
                <li><a href="motorista.html">Motorista</a></li>
                <li><a href="carro.html">Carro</a></li>
            </ul>
        </nav>
        <section class="cadastro">
            <form class="row g-3 " action="/viagem" method="POST">
                <div class="campos2">
                    <div class="col-md-12">
                        <label for="destino" class="form-label">Destino</label>
                        <input type="text" class="form-control" id="destino"  required>
                    </div>
                    <div class="col-md-12">
                            <label for="dataRetorno" class="form-label">Data Retorno</label>
                            <input type="date" class="form-control" id="dataRetorno"  required>
                    </div>
                     <div class="col-md-12">
                        <label for="renavamCarro" class="form-label">Renavam Carro</label>
                        <input type="text" class="form-control" id="renavamCarro" required>  
                    </div>  
                </div>
                <div class="campos2">
                    <div class="col-md-12">
                        <label for="dataSaida" class="form-label">Data Saída</label>
                        <input type="date" class="form-control" id="dataSaida"  required>
                    </div>
                    <div class="col-md-12">
                        <label for="cnhMotorista" class="form-label">Cnh Motorista</label>
                        <input type="text" class="form-control" id="cnhMotorista"  required>  
                    </div>
                    <div >
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>  
                
            </form>
            
        </section>
        <section class="resultado">
            <table class="table">
                <thead class="nave2">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Data Saída</th>
                    <th scope="col">Data Retorno</th>
                    <th scope="col">Cnh Motorista</th>
                    <th scope="col">Renavam Carro</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each viagens}}
                        <tr>
                            <td>{{dataValues.id}}</td>
                            <td>{{dataValues.destino}}</td>
                            <td>{{dataValues.dataSaida}}</td>
                            <td>{{dataValues.dataRetorno}}</td>
                            <td>{{dataValues.cnhMotorista}}</td>
                            <td>{{dataValues.renavamCarro}}</td>
                        </tr>
                    {{/each}}
                </tbody>
              </table>
        </section>
    </div>
</body>
</html>